# Force to include
!gradle-wrapper.jar
!**/src/main/**
!**/src/test/**

# STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

# Logs
logs/
out.log

# Gradle
.gradle
build/
gradle-app.setting
.gradletasknamecache
**/build/


#################
## maven things - to remove later after migrating to gradle
target/
!.mvn/wrapper/maven-wrapper.jar