<configuration>

  <property name="PATTERN" value="%d{HH:mm:ss.SSS} | %5p | %-30.30logger{30} | %msg%n"/>
  <property name="LOG-THRESHOLD" value="INFO"/>

  <appender class="ch.qos.logback.core.ConsoleAppender" name="CONSOLE">
    <encoder class="net.logstash.logback.encoder.LogstashEncoder">
      <jsonGeneratorDecorator class="net.logstash.logback.decorate.PrettyPrintingJsonGeneratorDecorator"/>
    </encoder>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>${LOG-THRESHOLD}</level>
    </filter>
  </appender>

  <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="OUT-LOG">
    <append>true</append>
    <immediateFlush>true</immediateFlush>
    <encoder>
      <charset>UTF-8</charset>
      <outputPatternAsHeader>true</outputPatternAsHeader>
      <pattern>${PATTERN}</pattern>
    </encoder>
    <file>logs/out.log</file>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>${LOG-THRESHOLD}</level>
    </filter>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>logs/out.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
      <maxHistory>365</maxHistory>
      <totalSizeCap>1GB</totalSizeCap>
    </rollingPolicy>
  </appender>

  <root level="ALL">
    <appender-ref ref="CONSOLE"/>
    <appender-ref ref="OUT-LOG"/>
  </root>

</configuration>
